[Unit]
Description=Automatic DJ Message Api Clearer

[Service]
Type=simple
ExecStart=/usr/bin/clear-messages
Restart=always
PIDFile=/tmp/clear-messages.pid

[Install]
WantedBy=default.target
