[Unit]
Description=Automatic Libretime Show Recorder

[Service]
Type=simple
ExecStart=/usr/bin/record_shows
Restart=always
PIDFile=/tmp/recordshows.pid

[Install]
WantedBy=default.target
