[Unit]
Description=Automatic Libretime Show Recorder

[Service]
Type=simple
ExecStart=/usr/bin/show-recorder
Restart=always
PIDFile=/tmp/show-recorder.pid

[Install]
WantedBy=default.target
